//layout
$primary-font: "Fredoka Regular", Arial, sans-serif; 

//searchMenu
$light-gray: #ccc;
$border-search-elements: 2px solid $light-gray;
$width-search-elements: 80%;
$height-search-elements: 40px;
$border-radius-search-elements: 5px;
$padding-search-elements: 10px;
$transition: box-shadow 0.3s, transform 0.2s, opacity 0.3s ease-in-out;

//clock
$grid-columns-min-780-px: repeat(2, 1fr);
$grid-columns-max-780-px: 1fr;