body {
    font-family: $primary-font;
}

.header {
    height: 140px;
    background: $header-bg-color;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;

    .inform-side {
        display: none;
    }

    .control-btns {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.main {
    border-top: $main-border;
    background-color: $main-bg-color;
}