#clock-for-states {
    @media (min-width:768px) {
        @include responsiveClockSection($grid-columns-min-780-px);
    }
    
    @media (max-width:768px) {
        @include responsiveClockSection($grid-columns-max-780-px);
    }

    @each $times-of-day, $color in $time-of-day-colors {
        .#{$times-of-day} {
            background: $color;
        }
    }
}
  
.am::after {
    content: "AM";
}
  
.pm::after {
    content: "PM";
}