#clock-for-states {
    @each $times-of-day, $color in $time-of-day-colors {
        .#{$times-of-day} {
            background: $color;
        }
    }
}

.stateSection {
    display: grid;
    align-items: center;
    font-size: $section-font-size;
    color: $main-primary-color;
    border-radius: $section-border-radius;
}

.state-flag {
    grid-row: 1/3;
    justify-self: center;

    & img {
        width: 128px;
        height: 85px;
    } 
}

.am::after {
    content: " AM";
}
  
.pm::after {
    content: " PM";
}

@media (min-width:768px) {
    #clock-for-states {
        @include responsiveClockSection($grid-columns-min-780-px);
    }

    .stateSection {
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
    }
}

@media (max-width:768px) {
    #clock-for-states {
        @include responsiveClockSection($grid-columns-max-780-px);
    }

    .stateSection {
        grid-template-columns: 0.8fr 1fr;
    }
}