.switch-container {
    display: flex;
    justify-content: center;
  
    .switch-time-format {
      display: inline-block;
      position: relative;
      width: 87px;
      height: 40px;
        
        .switch-input {
          width: 0;
          height: 0;
          opacity: 0;
        }
        
    }
}
  
  
  
  